/JaroLan.txt
/geckodriver.log
/Jaro_MM_not_aparts.txt
/Jaro_MM_aparts.txt
/Jaro_MM_2020.txt
/MystykLan.txt
/Jaro_MM_2022.txt
/.env
/Jaro.txt
/geckodriver.exe
/Jaro_MM_2019.txt
/Mystyk.txt
/Jaro_MM_lifetime.txt
/Jaro_MM_results.json
